@keyframes showup {
  0%{
    transform: scale(0) translateY(-55px);
    opacity: 0;
  }
  20% {
    transform: scale(1.1) translateY(-50px);
    opacity: .2;
  }
  40% {
    transform: scale(1.06) translateY(-40px);
    opacity: .4;
  }
  60% {
    transform: scale(1.02) translateY(-20px);
    opacity: .6;
  }
  80% {
    transform: scale(1.01) translateY(-10px);
    opacity: .8;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@keyframes remove {
  0%{
    transform: scale(1);
    min-height: 0px;
    height: 80px;
    opacity: 1;
  }
  20%{
    transform: scale(.75);
    min-height: 0px;
    height: 60px;
    opacity: .8;
  }
  40%{
    transform: scale(.50);
    min-height: 0px;
    height: 40px;
    opacity: .6;
  }
  60%{
    transform: scale(.25);
    min-height: 0px;
    height: 20px;
    opacity: .4;
  }
  80%{
    transform: scale(0);
    min-height: 0px;
    height: 0px;
    opacity: .2;
    
  }
  100%{
    transform: scale(0);
    min-height: 0px;
    height: 0px;
    opacity: 0;
  }
}

.task-item{
  width: 100%;
  height: 80px;
  min-height: 80px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 5px;
  display: flex;
  place-content: center;
  place-items: center;
  gap: 1em;
  padding: .5em;
  transition: all .5s ease;
  animation-name: showup;
  animation-duration: .5s;
}

.pending {
  background-color: #fff;
  text-decoration: none;
  opacity: 1;
}

.checked {
  background-color: #ddd;
  text-decoration: line-through;
  opacity: .5;
}
.task-item:hover {
  box-shadow: 0 0 6px rgba(0,0,0,.1);
  transform: scale(1.01);
}



.task-checkbox-container {
  width: 10%;
  height: 40%;
  display: flex;
  place-content: center;
  place-items: center;
}

.task-checkbox {
  cursor: pointer;
}


.task-content-container {
  width: 80%;
  max-width: 80%;
  height: 100%;
  text-align: justify;
  text-wrap: wrap;
  font-size: 14px;
  display: flex;
  place-content: center;
  place-items: center;
  overflow-y: scroll;
}

.remove-task-btn {
  width: 10%;
  min-width: 25px;
  height: 40%;
  border: 0;
  border-radius: 5px;
  outline: none;
  background: url("icons/remove-inactive.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .1s ease-out;
}

.remove-task-btn:hover {
  background: url("icons/remove-active.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.remove-task-btn:focus {
  transform: scale(1.1);
    background: url("icons/remove-active.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.removed {
  animation-name: remove;
  animation-duration: .3s;
}
