.tasks-form {
  width: 100%;
  height: 15%;
  max-height: 100px;
  min-height: 80px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  place-content: center;
  place-items: center;
  gap: .5em;
  box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.tasks-input-container {
  border: 0;
  width: 60%;
  min-width: 200px;
  max-width: 400px;
  height: 2.5em;
  transition: all .5s ease;
}

.tasks-input {
  width: 100%;
  height: 100%;
  outline-color: steelblue;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #eee;
  padding-left: 10px;
  transition: all .5s ease;
}

.tasks-input:hover {
  border:2px solid #ddd;
}

.add-task-btn {
  width: 20%;
  min-width: 50px;
  max-width: 80px;
  height: 2.8em;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #4682b4;
  outline: none;
  display: flex;
  place-content: center;
  place-items: center;
  gap: .2em;
}

.add-task-icon {
  width: 20px;
  height: 40%;
  background: url("icons/add.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.add-task-btn:hover {
  cursor: pointer;
  background-color:  #3771a0;
}

@media (max-width: 359px) {
  .tasks-form {
    height: 30%;
    flex-flow: column nowrap;
    padding: .5em;
    border-radius: 10px 10px 0 0 ;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    z-index: 10;
  }
  
  .tasks-input-container {
    width: 90%;
    max-width: 90%;
    height: 50%;
  }
  
  .add-task-btn {
    width: 100%;
    max-width: 90%;
    height: 50%;
  }
}

@media (max-width: 460px){
  .tasks-form {
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    z-index: 10;
  }
}

@media (min-width: 1080px) {
  .tasks-form {
    height: 100%;
    max-height: 100%;
    max-width: 30%;
    flex-flow: column nowrap;
    place-content: start;
    padding: 1em;
  }

  .tasks-input-container {
    width: 90%;
    max-width: 90%;
    min-height: 2.5em;
    height: 2.5em;
  }
  
  .add-task-btn {
    width: 100%;
    max-width: 90%;
  }
}