*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  place-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ddd;
}
